@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121314;
  --foreground: #eff0f1;
  --card: #18191c;
  --card-foreground: #eff0f1;
  --popover: #1b1c1e;
  --popover-foreground: #eff0f1;
  --primary: #e3e4e6;
  --primary-foreground: #161719;
  --secondary: #242528;
  --secondary-foreground: #eff0f1;
  --muted: #222325;
  --muted-foreground: #83868b;
  --accent: #252629;
  --accent-foreground: #eff0f1;
  --destructive: #f5605b;
  --border: #ffffff;
  --input: #ffffff;
  --ring: #606369;
  --radius: 0.625rem;
}
